@namespace Cauldron.Components

@switch (Component.Style)
{
    case ListStyle.Bullet:
    {
        <ul class="rich-card-list rich-card-list-bullet">
            @foreach (string item in Component.Items)
            {
                <li>@item</li>
            }
        </ul>
        break;
    }
    case ListStyle.Numbered:
    {
        <ol class="rich-card-list rich-card-list-numbered">
            @foreach (string item in Component.Items)
            {
                <li>@item</li>
            }
        </ol>
        break;
    }
    case ListStyle.Plain:
    default:
    {
        <div class="rich-card-list rich-card-list-plain">
            @foreach (string item in Component.Items)
            {
                <div class="rich-card-list-item">@item</div>
            }
        </div>
        break;
    }
}

@code {
    [Parameter]
    public required ListComponent Component { get; set; }
}
