@namespace Cauldron.Components

<div class="rich-card-text-block rich-card-text-@Component.Style.ToString().ToLower()">
    @Component.Content
</div>

@code {
    [Parameter]
    public required TextBlockComponent Component { get; set; }
}
