@namespace Cauldron.Components

<div class="rich-card-grid" style="grid-template-columns: repeat(@Component.Columns, 1fr);">
    @foreach (var item in Component.Items)
    {
        <div class="rich-card-grid-item">
            <div class="rich-card-grid-key">@item.Key</div>
            <div class="rich-card-grid-value">@item.Value</div>
        </div>
    }
</div>

@code {
    [Parameter]
    public required GridComponent Component { get; set; }
}
