@page "/"
@namespace Morgana.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="~/" />
        <title>Morgana - AI Assistant</title>
        <link href="css/site.css" rel="stylesheet" />
    </head>
    <body>
        <component type="typeof(App)" render-mode="ServerPrerendered" />

        <div id="blazor-error-ui">
            Si è verificato un errore.
            <a href="" class="reload">Ricarica</a>
            <a class="dismiss">🗙</a>
        </div>

        <script src="_framework/blazor.server.js"></script>
    </body>
</html>